[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/vim-scripts/fugitive.vim.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/showmarks2"]
	path = vim/bundle/showmarks2
	url = http://github.com/vim-scripts/showmarks2.git
[submodule "vim/bundle/dbext"]
	path = vim/bundle/dbext
	url = http://github.com/vim-scripts/dbext.vim
[submodule "tools/ack"]
	path = tools/ack
	url = http://github.com/petdance/ack.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/stlrefvim"]
	path = vim/bundle/stlrefvim
	url = http://github.com/vim-scripts/stlrefvim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
