[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/vim-scripts/fugitive.vim.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
