zsh/.zcompdump
zsh/.zshrc
.gitconfig
vim/.netrwhist
.runonce
vim/bundle/*
vim/autoload/pathogen.vim
/home/michael/.dot/vim/autoload/pathogen.vim
.gitignore
powerline
/home/michael/.dot/vim/autoload/pathogen.vim
